@import "@/asserts/globalStyle";
.songlist-wrapper {
  @include fullScreen;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  .sub-header {
    color: white;
    .sub-header-title {
      color: white;
    }
  }
  .song-list-content {
    position: relative;
    width: 100%;
    padding: 0.04rem 0 0 0;
    overflow-y: auto;
    overflow-x: hidden;

    .song-list-desc {
      box-sizing: border-box;
      height: 5rem;
      width: 100%;
      position: relative;

      .bacground {
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        filter: blur(20px);
        background: url(http://p2.music.126.net/N2HO5xfYEqyQ8q6oxCw8IQ==/18713687906568048.jpg);
        background-size: 100% 100%;
        background-position: 0px 0px;
        background-origin: padding-box;
        .filter {
          background: rgba(7, 17, 27, 0.2);
        }
      }
      .song-desc-center {
        padding: 1.3rem $screen-padding 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        .song-detail {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1;
          padding: 0 0.15rem;
          .list-title {
            font-size: $font-size_26 * 1.4;
            font-weight: 605;
            line-height: 1.5;
            color: white;
          }
        }
      }
    }
    .song-list {
      .song-play-button {
        @include flexRowCenter(space-around);
        box-sizing: border-box;
        height: 1.0rem;
        width: 100%;
        padding-left:0.5rem;
        padding-right:0.1rem;

        background-color: white;
        border-radius: 0.5rem;
        .list-play-all {
          display: flex;
          justify-content: flex-start;
          flex: 1;
          .icon-bofang {
            font-size: 0.36rem;
            color: $font-color_2;
          }
          span {
            font-size: 0.36rem;
          }
        }
        & > button {
          height: 0.8rem;
          background-color: $theme-color-shadow;
          border-radius: 0.4rem;
          border-color: transparent; //自定义边框
          outline: none;
          color: white;
          width:2.4rem;
        }
      }
      .song-list-item {
        display: flex;
        flex-direction: row;
        & > span {
          font-size: 0.32rem;
          color: $font-color_3;
          flex-basis: 1.2rem;
          line-height: 1.2rem;
          height: 1.2rem;
          text-align: center;
        }
        .song-name-desc {
          box-sizing: border-box;
          flex: 1;
          height: 1.2rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          border-bottom: 0.01rem solid rgb(226, 226, 226);

          .song-name {
            font-size: 0.32rem;
            margin-bottom: 0.12rem;
          }
          .song-desc {
            font-size: $font-size_22;
            color: $font-color_3;
          }
        }
      }
    }
  }
}
.fixed-flag {
  height: 0.001rem;
  transform: translateY(-1.1rem);
}
.fixed {
  position: fixed;
  top: 1.1rem;
  z-index: 100;
}
