@import "@/asserts/globalStyle";
$height: 0.8rem;
$width: 1rem;
 .sub-header {
   z-index:100;
    position: fixed;
    top:0;
    box-sizing: border-box;
    padding: 0.15rem 0;
    height: 1.1rem;
    @include flexRowCenter(flex-start);
    .back-button,
    .sub-header-title {
      @include flexRowCenter(center);
    }
    .back-button {
      width: $width;
      height: $height;
      margin-top: -0.1rem;
      font-weight: $font-weight_1;
      .iconfont {
        font-size: 0.4rem;
      }
    }
    .sub-header-title {
      font-size: $font-size_18 * 1.9;
      color: $font-color_1;
      font-weight: $font-weight_1;
    }
  }