@import "@/asserts/globalStyle";
.row-slider-wrap {
  display: flex;
  padding-left: $screen-padding;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.row-slider-item {
  position: relative;
  box-sizing: border-box;
  padding-right: 0.15rem;
  // background-clip: content-box;
  // background-color: rgba(221, 75, 31, 0.37);
}
